.billCard {
    width: 25vw;
    margin: auto;
    border: 5px solid black !important;
    margin-bottom: 10px;
    background-image: url("https://thumbs.dreamstime.com/b/gray-white-money-bag-repeat-pattern-background-seamless-repeats-44585024.jpg");

}

#billCardCol {
    height: 45vw;
    overflow-y: scroll;
}

.bill-category {
    text-transform: capitalize;
}

.updateBillButton {
    margin: 10px;
    border: 2px black solid;
}

.deleteBillButton {
    margin: 10px;
    border: 2px black solid;
}

.card-text {
    font-weight: bold;
    background-color: white;
    margin: auto;
}

.billCardBody {
    padding: 0px;
    display: inline;
    background-color: lightgray;
    max-width: 90%;
}