  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }

  #bills {
    background-color: lightgreen;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
}

label{
    font-weight: bolder;
}
