.jumbotron{
    background-image: url("/images/money.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    color: white;
    text-align: center;
}

.budget-row {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#budget-btn {
    margin-top: 10px;
}
  
  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }