.jumbotron{
    background-image: url("/images/money.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    color: white;
    text-align: center;
}

#total-budget   {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: rgb(6, 177, 6);
}
#rent-row {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: rgb(6, 177, 6);
}

#car-row {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: rgb(6, 177, 6);
}

#food-row {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: rgb(6, 177, 6);
}

#utility-row {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: rgb(6, 177, 6);
}

#school-row {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: rgb(6, 177, 6);
}

#misc-row {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: rgb(6, 177, 6);
}
#budget-btn {
    margin-top: 10px;
}
  
  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }